.container {
  background-color:
  padding-top:0px;
  margin: 300px;
  margin-top: 150px;
  margin-bottom: 0;
}

h2{
 background-color: lightskyblue;
 padding: 30px 35px;
 margin: -10px -50px;
 text-align:center;
 color: #fff;
}

span{
 display: block;
 margin-bottom: 20px;
 color: red;
}

.success{
 display: block;
 margin-top: 20px;
 margin-bottom: 0;
 font-size: 14px;
}

b{
 color:green;
}

hr{
 margin: 10px -50px;
 border: 0;
 border-top: 1px solid #ccc;
 margin-bottom: 25px;
}

div.main{
 font-family: raleway;
}

input[type=text]{
 width: 96%;
 height: 25px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 font-size: 16px;
}

input[type=password]{
 height: 25px;
 width: 96%;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #53bd84;
 font-size: 16px;
}

label{
text-align: center;
 color: lightskyblue;
 font-size: 14px;
 font-weight: bold;
}

input[type=submit]{
 background-color: lightskyblue;
 font-size: 16px;
 color: #4E4D4B;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 padding: 10px ;
 outline:none;
}

a {
 text-decoration:none;
 color:#6495ed
}
i {
 color:#6495ed
}
